<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/automationtester/git/Selenium4">
        <classes>
            <class name="test.SelectingTextBoxes">
<!--                <methods>-->
<!--                    <include name="TC01_testByClassName_countIs4"/>-->
<!--                    <include name="TC02_testByClassName_countIs4"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>